* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
html, body {
  overflow-x: hidden;
}
body {
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
}

.logo {
    width: 25%;
    /* background: blue; */
    margin-left: 3%;
    margin-top: 2%;
    position: relative;
}

.word {
    position: absolute;
    margin-top: 8%;
    left: 8%;
}

.check {
    position: absolute;
    top: 24px;
    left: 149px;
}

.nav {
    width: 40%;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 40px;
    margin-left: 20px;
    list-style-type: none;

}

.nav ul li a {
    width: 40%;
    justify-content: space-around;
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
    color: #6E666F;

}

.sign_log {
    width: 40%;
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-top: 20px;
    align-items: flex-end;
}

section {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    gap: 2rem;
}

.section1 {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.profile {
    width: 450px;
    height: 150px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

    flex-direction: column;
    border-radius: 10px;
    position: relative;
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.section1 input {
    width: 40%;
    color: #B1B2B7;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    outline: none;
}

.section1 .fa-envelope {
    position: absolute;
    top: 50px;
     left: 5px;
}

input {
    width: 10%;
}



.fa-phone {
    position: absolute;
    top: 10px;
    right: 210px;
}




.fa-location-dot {
    position: absolute;
    right: 210px;
    top: 45px;


}

.textarea_1,
.textarea_2,
.textarea_3,
.textarea_4,
.textarea_5 {
    position: relative;
    overflow-y: hidden;
    width: 80%;
    height: 15%;
    margin-top: 2.5rem;
    margin-left: 30px;
  
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color: #fff;
    font-size: 20px;

}

.textarea_1,
.textarea_2,
.textarea_3,
.textarea_4,
.textarea_5 {
    border-radius: 10px;
    width: 100%;
    max-height: 200px;
    /* maksimum hündürlük */
    /* maksimal hündürlük */
    outline: none;
    padding: 5px;
    border: none;
    background-color: #F5F5F5;
    outline: none;
    resize: none;
    overflow-y: auto;

}
.textarea_1 textarea:focus, 
.textarea_2 textarea:focus, 
.textarea_3 textarea:focus, 
.textarea_4 textarea:focus, 
.textarea_5 textarea:focus 
{
    border: none;
    outline: none;
    box-shadow: none; }



summary::-webkit-details-marker {
    display: none;
}

/* Firefox üçün */
summary::marker {
    content: "";
}

summary span {
    color: #000;
    opacity: 100%;
}

/* Öz ox şəkli */
.custom-arrow {
    width: 20px;
    margin-left: 40px;
    /* Profile sözündən məsafə */
    transition: transform 0.3s ease;
    vertical-align: middle;
    /* düz xəttdə olsun */
}

/* Açıldıqda ox fırlansın */
details[open] .custom-arrow {
    transform: rotate(180deg);
      margin-bottom: 10px;
}

/* .textarea_2 {
    position: relative;
    width: 80%;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color: #fff; */



.section2 {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
}

.textarea_1 img,
.textarea_2 img,
.textarea_3 img,
.textarea_4 img,
.textarea_5 img {
    width: 10px;
}



.send_custom button {
    display: inline-block;
    text-decoration: none;
    color: #ffff;
    border: none;
    width: 100px;
    font-weight: 700;
    font-size: 1.25rem;
    padding: 0.75rem 0.9375rem;
    border-radius: 20px;
    background: linear-gradient(to right, #73AFF3, #AE84E6, #D766DD);
}


.send_generate button {
    text-decoration: none;
    text-align: center;
    color: #ffff;
    border: none;
    width: 150px;
    margin-left: 1rem;
    font-weight: 700;
    font-size: 1.25rem;
    padding: 0.75rem 0.9375rem;
    border-radius: 20px;
    background: linear-gradient(to right, #73AFF3, #AE84E6, #D766DD)
}





.send_create a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #ffff;
    width: 250px;
    font-weight: 700;
    font-size: 1.25rem;
    padding: 0.75rem 0.9375rem;
    border-radius: 20px;
    margin-bottom: 14rem;
    margin-left: 5px;
    background: linear-gradient(to right, #73AFF3, #AE84E6, #D766DD)
}



.section3 {
    display: flex;
    flex-direction: column;
    width: 15%;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

}

.section3 img {
    width: 70%;
}

.section3 button {
    display: inline-block;
    text-decoration: none;
    border: none;
    margin-top: 1rem;
    text-align: center;
    color: #ffff;
    width: 100%;
    font-weight: 700;
    font-size: 1.25rem;
    padding: 0.75rem 0.9375rem;
    border-radius: 20px;
    margin-bottom: 4rem;
    margin-left: 5px;
    background: linear-gradient(to right, #73AFF3, #AE84E6, #D766DD)
}

@media (min-width: 769px) and (max-width: 1024px) {
  .sign_log {
    margin: 0 auto;
  }
  
  section {
    gap: 25px;
    padding: 25px;
  }

  .section1 {
    width: 40%;
    margin-left: 20px;
  }

  .profile {
    width: 100%;
    height: auto;
  }

  .section2 {
    width: 45%;
  }

  .section3 {
    width: 15%;
    flex-direction: column;
    margin-left: 20px;
  }

  .section3 img {
    width: 70%;
    margin: 10px auto;
  }

  .section3 button {
    width: 100%;
    font-size: 24px;
    margin: 15px 0;
  }
}
/* Planşetlər (600px-768px) */
@media (min-width: 601px) and (max-width: 768px) {
     body {
        overflow-x: hidden;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
        /* sol küncə hizala */
        padding-left: 20px;
        /* bir az boşluq */
        height: auto;

    }

    .logo {
       width: 100%;
    display: flex;
    flex-direction: row; /* word bubble-ın üstünə düşsün */
    align-items: flex-start; /* hamısı sola */
    position: relative;
    margin-top: 10px;
    }

    .word {
        position: absolute;
        bottom: 1.5rem;
        left: 1.5rem;
    }

    .check {
         position: absolute;
        bottom: 2.5rem;
        left: 9.5rem;
    }
.nav {
    width: 100%;
    margin-top: 10px;
  }

  .nav ul {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .nav ul li a {
    width: auto;
    font-size: 18px;
    padding:  0;
  }

  .sign_log {
    width: 100%;
    justify-content: center;
    margin: 15px 0;
    align-items: center;
  }

  section {
    flex-direction: column;
    gap: 20px;
    padding: 10px 15px;
  }

  .section1 {
    width: 100%;
    margin-left: 0;
  }

  .profile {
    width: 90%;
    height: auto;
    margin-left: 0;
    padding: 15px;
    box-shadow: none;
  }

  .section1 input {
    width: 50%;
    height: 20%;
    margin-left: 0;
    font-size: 16px;
  }

  .textarea_1,
  .textarea_2,
  .textarea_3,
  .textarea_4,
  .textarea_5 {
    width: 100%;
    height: 60px;
    margin-left: 0;
    font-size: 16px;
  }

  .section2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 0;
  }
.send_generate,
.send_custom{
    margin-top: 10px;
}
  .section3 {
    width: 100%;
    margin-left: 0;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
  }

  .section3 img {
    width: 30%;
    margin: 0 10px;
  }

  .section3 button {
    width: 100%;
    font-size: 18px;
    margin: 10px 0;
  }

  .send_custom button,
  .send_generate button,
  .send_create a {
    width: 90%;
    font-size: 18px;
    padding: 12px 0;
    margin-left: 0;
    display: block;
    text-align: center;
  }
}
/* Böyük telefonlar (480px-600px) */
@media (min-width: 481px) and (max-width: 600px) {
     body {
        overflow-x: hidden;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
        /* sol küncə hizala */
        padding-left: 20px;
        /* bir az boşluq */
        height: auto;

    }

    .logo {
       width: 100%;
    display: flex;
    flex-direction: row; /* word bubble-ın üstünə düşsün */
    align-items: flex-start; /* hamısı sola */
    position: relative;
    margin-top: 10px;
    }

    .word {
        position: absolute;
        bottom: 1.5rem;
        left: 1.5rem;
    }

    .check {
         position: absolute;
        bottom: 2.5rem;
        left: 9.5rem;
    }
    .nav {
    width: 100%;
    margin-top: 10px;
  }

  .nav ul {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .nav ul li a {
    width: auto;
    font-size: 18px;
  }

  .sign_log {
    width: 100%;
    justify-content: center;
    margin: 15px 0;
    align-items: center;
  }

  section {
    flex-direction: column;
    gap: 20px;
    padding: 10px 15px;
  }

  .section1 {
    width: 100%;
    margin-left: 0;
  }

  .profile {
    width: 90%;
    height: auto;
    margin-left: 0;
    padding: 15px;
    box-shadow: none;
  }

  .section1 input {
    width: 50%;
    height: 20%;
    margin-left: 0;
    font-size: 16px;
  }

  .textarea_1,
  .textarea_2,
  .textarea_3,
  .textarea_4,
  .textarea_5 {
    width: 100%;
    height: 60px;
    margin-left: 0;
    font-size: 16px;
  }

  .section2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 0;
  }
.send_generate,
.send_custom{
    margin-top: 10px;
}
  .section3 {
    width: 100%;
    margin-left: 0;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
  }

  .section3 img {
    width: 30%;
    margin: 0 10px;
  }

  .section3 button {
    width: 100%;
    font-size: 18px;
    margin: 10px 0;
  }

  .send_custom button,
  .send_generate button,
  .send_create a {
    width: 90%;
    font-size: 18px;
    padding: 12px 0;
    margin-left: 0;
    display: block;
    text-align: center;
  }
}

/* Kiçik telefonlar (mobil, 480px və aşağı) */
@media (max-width: 480px) {
   body {
        overflow-x: hidden;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
        /* sol küncə hizala */
        padding-left: 20px;
        /* bir az boşluq */
        height: auto;

    }

    .logo {
       width: 100%;
    display: flex;
    flex-direction: row; /* word bubble-ın üstünə düşsün */
    align-items: flex-start; /* hamısı sola */
    position: relative;
    margin-top: 10px;
    }

    .word {
        position: absolute;
        bottom: 1.5rem;
        left: 1.5rem;
    }

    .check {
         position: absolute;
        bottom: 2.5rem;
        left: 9.5rem;
    }

  .nav {
    width: 100%;
    margin-top: 10px;
     
  }

  .nav ul {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .nav ul li a {
    width: auto;
    font-size: 18px;
    padding: 0;
    
  }

  .sign_log {
    width: 100%;
    justify-content: center;
    margin: 15px 0;
    align-items: center;
  }

  section {
    flex-direction: column;
    gap: 20px;
    padding: 10px 15px;
  }

  .section1 {
    width: 100%;
    margin-left: 0;
  }

  .profile {
    width: 90%;
    height: auto;
    margin-left: 0;
    padding: 15px;
    box-shadow: none;
  }

  .section1 input {
    width: 50%;
    height: 20%;
    margin-left: 0;
    font-size: 16px;
  }

  .textarea_1,
  .textarea_2,
  .textarea_3,
  .textarea_4,
  .textarea_5 {
    width: 100%;
    height: 60px;
    margin-left: 0;
    font-size: 16px;
  }

  .section2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 0;
  }
.send_generate,
.send_custom{
    margin-top: 10px;
}
  .section3 {
    width: 100%;
    margin-left: 0;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
  }

  .section3 img {
    width: 30%;
    margin: 0 10px;
  }

  .section3 button {
    width: 100%;
    font-size: 18px;
    margin: 10px 0;
  }

  .send_custom button,
  .send_generate button,
  .send_create a {
    width: 90%;
    font-size: 18px;
    padding: 12px 0;
    margin-left: 0;
    display: block;
    text-align: center;
  }
}