* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color:#F1F1F1;
}
.main{
    background-color: #ffff;
    width: 40%;
    margin: 100px;
}
.main h1{
    font-size: 26px;
    font-weight: 700;
}

.main p{
    color: #D9D9D9;
}